<!doctype html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="renderer" content="webkit">
    <title>output of df</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="button.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="mousewheel.js"></script>
    <script type="text/javascript" src="pageChange.js"></script>
    <script type="text/javascript" src="angular.min.js" ></script>
    <script type="text/javascript" src="index.js" ></script>
	
</head>
<body ng-controller="MyController">
    <section class="section-wrap">
        <div class="section section-1">
            <div class="title active">
                <h1 class="tit" style="font-size:50px;">Hey welcome my app!</h1>
                <p class="tit">Slide roller, you can see the result page.</p>
                <p class="tit">which shows the Selection of eligible results in textarea</p>
                <textarea cols="80" rows="15" ng-model="textarea1"></textarea>
                <h3>{{textarea1}}</h3>
            </div>
        </div>
        <div class="section section-2">
            <div class="title">
                <p class="tit" style="font-size:40px;">This is result page</p>
                <input type="button"  ng-click="getTextArea()" value="Display results ￬" id="page-button">
                <h2 style="color:#EEEE00; margin-top: 100px;">{{ShowContent}}</h2>
            </div>
        </div>
    </section>
    <ul class="section-btn">
         <li class="on"></li>
         <li></li>
    </ul>
    <div class="arrow">&laquo;</div>
</body>
</html>
